@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mona Sans";
  src: url("/fonts/Mona-Sans.woff2") format("woff2 supports variations"), url("/fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

* {
  scroll-behavior: smooth;
}

html {
  font-family: "Mona Sans", sans-serif;
}
.no-scroll {
  overflow: hidden;
  position: fixed; /* Untuk mencegah geseran pada tampilan */
  width: 100%; /* Pastikan elemen tetap lebar penuh */
  top: 0;
  left: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  /*------- neutral ---------*/
  --neutral-400: #595757;
  --neutral-500: #312d2d;
  --neutral-600: #100c0c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scroll bar */
#style-2::-webkit-scrollbar {
  width: 8px; /* Lebar scroll bar */
  height: 8px; /* Tinggi scroll bar jika horizontal */
}

/* Track (jalur scroll bar) */
#style-2::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}

/* Handle (pegangan scroll bar) */
#style-2::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle ketika di-hover */
#style-2::-webkit-scrollbar-thumb:hover {
  background: #555;
}

